In [2]:
import pandas as pd
import numpy as np

In [29]:
path = "../../dataVault/labour_report_ds/Jan_2021.csv"
df = pd.read_csv(path, dtype={"Customer number": np.float64 ,"Schd Time Start": str, "PO": str})
# df['Customer number'] =
# df = df.round({'Customer number' : 3})
df['Customer number'] = df['Customer number'].round(3)

,Job No,Date,Schd Time Start,Schd Time End,Latitude,Longitude,Customer number,Customer Name,Site Name,Address 1,...,Alternate Ref No 2,Alternate Service Ref 1,Alternate Service Ref 2,Notes,Directions,CheckLists,Waste Type,Tip Site,Price,PO
0,2616168.00,31/01/21,00:00,06:55,151.269217,-33.852059,2640.004,Nielsen Park,NaN,Greycliffe Avenue,...,NaN,NaN,NaN,# Containers serviced less than scheduled. Bo...,WORK SHOP AFTER 7AM **GATE CODE - 2131**,NaN,General Waste,NaN,233.20,4500692131
1,2616172.00,31/01/21,00:00,06:55,151.269202,-33.852061,3154.000,The Nielsen,NaN,Greycliffe Ave,...,NaN,NaN,NaN,# Containers serviced less than scheduled. Bo...,NIELSEN PARK CAFE AFTER 5AM **GATE CODE - 2131...,NaN,General Waste,NaN,603.66,NaN
2,2630836.00,31/01/21,00:00,00:00,150.861338,-33.678868,3805.000,Riverstone Village Shopping Center,Blacktown City Council / CI Australia Pty Ltd,Marketown Ln,...,NaN,NaN,NaN,NaN,Bins located bin Roller door at loading dock i...,NaN,General Waste,NaN,147.18,NaN
3,2630837.00,31/01/21,00:00,00:00,150.908682,-33.770917,4301.000,El Jannah Blacktown,NaN,44 Flushcombe Rd,...,NaN,NaN,NaN,NaN,bins at the back lane,NaN,General Waste,NaN,158.57,NaN
4,2630837.01,31/01/21,00:00,00:00,150.908682,-33.770917,4301.000,El Jannah Blacktown,NaN,44 Flushcombe Rd,...,NaN,NaN,NaN,NaN,bins at the back lane,NaN,Cardboard,NaN,15.91,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43011,2595854.00,01/01/21,NaN,03:10,151.054272,-33.926183,4463.000,Mirage Hotel Punchbowl,NaN,802 Punchbowl Road,...,NaN,NaN,NaN,NaN,NaN,NaN,General Waste,NaN,52.80,NaN
43012,2595929.00,01/01/21,NaN,NaN,151.161669,-33.907374,3359.001,Mud Australia Pty Ltd,NaN,36-44 Farr Street,...,NaN,NaN,NaN,NaN,DO NOT SERVICE TODAY. Customer closed 25/12/20...,NaN,General Waste,NaN,0.00,NaN
43013,2594808.01,01/01/21,NaN,NaN,151.224111,-33.874481,1307.000,Caffe Roma,Caffe Roma,9 Kellet St,...,NaN,NaN,NaN,NaN,DO NOT SERVICE TODAY. Customer closed 01/01/21...,NaN,Comingle,NaN,0.00,NaN
43014,2594835.00,01/01/21,NaN,NaN,151.218348,-33.883314,2788.000,Monkey Barista Coffee House,Monkey Barista Coffee House,379B South Dowling Street,...,NaN,NaN,NaN,NaN,DO NOT SERVICE TODAY. Customer closed 01/01/21...,NaN,General Waste,NaN,0.00,NaN
43015,2594836.00,01/01/21,NaN,NaN,151.223962,-33.874425,4458.000,Ezra Restaurant,NaN,3 Kellett Street,...,NaN,NaN,NaN,NaN,DO NOT SERVICE TODAY. Customer closed 28/12/20...,NaN,General Waste,NaN,0.00,NaN

In [30]:
df_4138 = df.loc[(df['Customer number'] > 4138.000) & (df['Customer number'] <= 4138.1)]
df_1021 = df.loc[(df['Customer number'] > 1021.000) & (df['Customer number'] <= 1021.1)]

In [92]:
df_4138_group = df_4138.groupby('Customer number')
df_4138_group.indices.keys()
testdf = df_4138_group.get_group(4138.003)
# head(5)
# testdf['Status'].filter('F')
# 'Directions',

# report_col_df = testdf[['Date', 'Address 1',  'Waste Type', 'Bin Volume','Qty Serviced', 'Status']]
testdf = testdf[testdf["Status"].isin(['C'])]

# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
#  df["D"] = np.nan

testdf["Dock"] = np.nan
testdf["Equipment"] = "Mobile bin"
testdf["Total weight picked up - kg (if available)"] = np.nan
testdf["Processing Facility sent to (Optional)"] = np.nan
testdf["Bin Rejected due to contamination (Optional)"] = np.nan

testdf = (testdf
 .rename(columns={
     'Date' : 'Pick-up Date (dd/mm/yyyy)',
     'Address 1': 'Site Address',
     'Bin Volume' : 'Size (m3)',
     'Qty Serviced' : 'Units Collected'
     })
)

testdf = (testdf[
    ['Pick-up Date (dd/mm/yyyy)',
     'Site Address',
     'Dock',
     'Waste Type',
     'Equipment',
     'Size (m3)',
     'Units Collected',
     'Total weight picked up - kg (if available)',
     'Processing Facility sent to (Optional)',
     'Bin Rejected due to contamination (Optional)'
    ]])

testdf.to_csv("./sample_labour_report.csv", columns=[
    'Pick-up Date (dd/mm/yyyy)',
     'Site Address',
     'Dock',
     'Waste Type',
     'Equipment',
     'Size (m3)',
     'Units Collected',
     'Total weight picked up - kg (if available)',
     'Processing Facility sent to (Optional)',
     'Bin Rejected due to contamination (Optional)'
    ], index=False)

# df.assign(C="",D=np.nan)
# r_report_col_df.assign(Dock=np.nan) 
# testdf['Status'].filter("F")